body{
    display: grid;
    align-items: center;
    justify-content: center;
    font-family: "poppins";
}
.main{
    display: flex;
    align-items: center;
    width: auto; 
    justify-content: space-around;
    gap: 200px;
    width: 800px;
    
}
.container{
    display: grid;
    align-items: center;  
    justify-content: space-around;
}
.container img{
    width: 300px;
    height: 300px;
}
.name{
    font-size: 18px;
    margin-top: -100px;
    margin-left: -81px;
    color: #00b3ff;
}
.id{
    font-size: 40px;
    color: #0e3a28;
}
.title{
    display: none;
}
.container:hover .title{
    display: block;
}
.container:hover .name{
    
    margin-bottom: 20px;
}
.line{
    height: 300px;
    width: 5px;
    background-color: chartreuse;
}