body{
    background-color: aqua;
    display: grid;
    align-items: center;
    justify-content: center;
    font-family: "poppins";
}
.main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    width: auto;
      
    justify-content: space-around;
    gap: 200px;
    
}
.container{
    display: grid;
    align-items: center;  
    justify-content: space-around;
    background-color: aqua;
}
.container img{
    width: auto;
    height: 1000px;
}
.name{
    font-size: 57px;
    margin-top: -165px;
    margin-left: -141px;
    color: #00b3ff;
}
.id{
    font-size: 80px;
    color: #0e3a28;
}
.title{
    display: none;
}
.container:hover .title{
    display: block;
}
.container:hover .name{
    font-size: 80px;
    color: #0e3a28;
    margin-top: 0px;
    margin-left: 0px;
}